<div class="container mt-3">
  <div class="row d-flex flex-column align-items-center">
    <!--分類卷軸-->
    <div class="col-3">

      <form class="d-flex flex-row" action="/search" method="POST">
        <label for="search" class="form-label col-3 m-0 d-flex align-items-center">選擇類別</label>

        <select class="form-select col" id="search" name="search" onchange="this.form.submit()">
          {{#if records.categoryName}}
          <option value="{{records.categoryName}}" hidden="hidden" selected="selected">{{records.categoryName}}
          </option>
          {{else}}
          <option value="全部" hidden="hidden" selected="selected">
            全部
          </option>
          {{/if}}
          <option value="全部">全部</option>
          <option value="家居物業">家居物業</option>
          <option value="交通出行">交通出行</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="其他">其他</option>
        </select>
      </form>

    </div>
    <!--總金額-->
    <div class="col-4 text-center mt-3 badge bg-dark text-wrap fs-1" style="width:24rem;>
      <p class=" m-0">總金額: {{records.totalAmount}}元</p>
    </div>

    <!--細項-->
    <ul class="list-group col-8 mt-3">
      {{#each records}}
      <li class="list-group-item d-flex flex-row align-items-center">
        <div class="col-3"> {{{this.categoryIcon}}} </div>
        <div class="col-4">
          <p class="m-0"> {{this.name}} </p>
          <p class="m-0"> {{this.date}} </p>
        </div>
        <div class="col-3 text-center">{{this.cost}}元</div>
        <form class="col-1 text-end" action="/records/{{this._id}}/edit" method="GET">
          <button type="submit" class="btn btn-outline-primary">修改</button>
        </form>
        <form class="col-1 text-end" action="/records/{{ this._id }}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger" onclick="return confirm(`確認是否刪除:{{ this.name }}?`)">刪除</button>
        </form>
      </li>
      {{/each}}
    </ul>

    <!--新增按鈕-->
    <a class="btn btn-warning col-2 mt-3" href="/records/new" role="button">新增支出項目</a>
  </div>
</div>